
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Poiret One", cursive;
  font-weight: 300;
  background-color: #161616;
  color: #cfcfcf;
  transition: 500ms;
}
.unseen {
  transform: translateY(18px);
  opacity: 0;
  z-index: -1;
  /* font-size: 12px !important; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
.center {
  position: fixed;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
}
.hidden {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
}
.hidden > * {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  /* height: 62px; */
}
/* .top div { */
  /* height: 100%; */
/* } */
.calc-btn {
  border: none;
  padding: 12px 12px;
  padding-bottom: 14px;
  border-radius: 36px;
  background-color: #161616;
  min-height: 2.5rem;
  /* color: #292929; */
  animation: glowing 4000ms infinite;
  font-size: 16px;
}
.content {
  margin: 28px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.countup,
.countdown,
.luisxxx {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.luisxxx p span,
.user-cd p span.timesup {
  color: #161616;
  padding: 0 6px;
  display: inline-block;
  background-color: transparent;
  animation: tilt-shaking 150ms infinite;
}
/* .user-cd {
  padding-bottom: 40px;
  margin-bottom: 40px !important;
} */
.luisxxx, .user-cd {
  background-color: #cfcfcf !important;
  /* border: solid 2px #cfcfcf; */
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 5px 0 0 rgb(210, 210, 210), 0 10px 0 0 rgba(225, 225, 225, 0.6), 0 15px 0 0 rgba(159, 160, 159, 0.4), 0 20px 0 0 rgba(128, 128, 128, 0.2), 0 25px 0 0 rgba(78, 78, 78, 0.1);
}
.luisxxx h1,
.user-cd h1 {
  font-size: 20px;
  color: #161616;
  background-color: transparent;
}
.luisxxx p,
.user-cd p {
  background-color: transparent;
  color: #161616;
}
.countup,
.countdown {
  background-color: transparent;
}
/* .dark-mode input.ipt {
  filter: invert(100%);
} */
/* .dark-mode .luisxxx h1,
.dark-mode .luisxxx p {
  filter: invert(0%);
} */
i {
  background-color: transparent;
}

#demo1,
#demo2,
#demo3,
#demo4 {
  display: flex;
  gap: 4px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  animation: show 500ms linear;
  background-color: transparent;
  transition: 1s;
}
#demo1 span.timesup,
#demo2 span.timesup,
#demo3 span.timesup,
#demo4 span.timesup {
  display: inline-block;
  background-color: transparent;
  animation: tilt-shaking 500ms linear;
  font-size: 2rem;
}
#demo1:has(.timesup),
#demo2:has(.timesup),
#demo3:has(.timesup),
#demo4:has(.timesup) {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#demo1 span:not(.timesup),
#demo2 span:not(.timesup),
#demo3 span:not(.timesup),
#demo4 span:not(.timesup) {
  background-color: #dddddd;
  color: #1f1f1f;
  border-radius: 8px;
  padding: 2px 2px;
  padding-top: 12px;
  width: 60px !important;
  margin: 8px 0;
}
.user-cd #demo1 span:not(.timesup),
.user-cd #demo2 span:not(.timesup),
.user-cd #demo3 span:not(.timesup),
.user-cd #demo4 span:not(.timesup) {
  background-color: #1f1f1f;
  color: #dddddd;
  border-radius: 8px;
  padding: 2px 2px;
  padding-top: 12px;
  width: 60px !important;
  margin: 8px 0;
}
#demo1 span.digits,
#demo2 span.digits,
#demo3 span.digits,
#demo4 span.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#demo1 span.digits-label,
#demo2 span.digits-label,
#demo3 span.digits-label,
#demo4 span.digits-label {
  font-size: 10px;
  margin: 0 !important;
  color: #000000;
}
.demo {
  font-family: "Poiret One", cursive;
  width: 80vw;
  /* background-color: #dddddd; */
  color: #dddddd;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 4px;
  transition: 1s;
}
.demo.b4 {
  opacity: 0;
}
.footer {
  margin-top: 50px;
  margin-bottom: 20px;
}
.credit {
  color: #696969;
  font-weight: 100;
}
@media (min-width: 800px) {
  .content {
    font-size: 200%;
  }
  .credit {
    font-size: 1rem;
  }
  .demo {
    max-width: 60%;
  }
}
.dm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 8px;
}

.darkmodebutton {
  border: none;
  background: #1f1f1f;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
  /* box-shadow: 0 0 5px 2px #4b4b4b; */
}
.darkmodelink:hover {
  text-shadow: 0 0 3px #a3a3a3;
}

.dark-mode {
  filter: invert(100%);
}
i {
  font-size: 20px;
}

input.ipt {
  background-color: transparent;
  color: #dddddd;
  border: none;
  border-radius: 36px;
  min-height: 2.5rem;
  min-width: 180px;
  padding: 12px 12px;
}
input.ipt::placeholder {
  color: #dddddd;
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
/* .dark-mode ::-webkit-calendar-picker-indicator {
  filter: invert(0);
} */
dialog {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  background-color: #252525a3;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 8px;
}
dialog form {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
dialog p {
  background-color: transparent;
  font-size: 20px;
  text-align: center;
}
dialog button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background-color: transparent;
  font-size: 20px;
}
dialog button i {
  font-size: 24px;
}
dialog[open] {
  animation: show 0.5s ease;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.513);
}

@keyframes show{
  from {
      opacity: 0;
      scale: 98%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px 2px #292929;
  }
  50% {
    box-shadow: 0 0 5px 2px #696969;
  }
  100% {
    box-shadow: 0 0 5px 2px #292929;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
