
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Poiret One", cursive;
  font-weight: 300;
  background-color: #161616;
  color: #cfcfcf;
  transition: 500ms;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
.center {
  position: fixed;
  left: 50%;
  top: 34%;
  transform: translate(-50%, -50%);
}
.hidden {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 62px;
}
.top div {
  height: 100%;
}
.calc-btn {
  border: none;
  padding: 12px 12px;
  border-radius: 36px;
  background-color: #161616;
  min-height: 2.5rem;
  /* color: #292929; */
  animation: glowing 4000ms infinite;
}
.content {
  margin: 28px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.countup,
.countdown,
.luisxxx {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.luisxxx p span {
  padding: 0 6px;
  display: inline-block;
  background-color: transparent;
  animation: tilt-shaking 150ms infinite;
}
.user-cd {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.luisxxx {
  background-color: #cfcfcf;
  margin-bottom: 28px;
  border-radius: 24px;
  box-shadow: 0 5px 0 0 rgb(210, 210, 210), 0 10px 0 0 rgba(225, 225, 225, 0.6), 0 15px 0 0 rgba(159, 160, 159, 0.4), 0 20px 0 0 rgba(128, 128, 128, 0.2), 0 25px 0 0 rgba(78, 78, 78, 0.1);
}
.luisxxx h1 {
  font-size: 20px;
  color: #161616;
  background-color: transparent;
}
.luisxxx p {
  background-color: transparent;
  color: #161616;
}
.countup,
.countdown {
  background-color: transparent;
}
.dark-mode input.ipt {
  filter: invert(100%);
}
/* .dark-mode .luisxxx h1,
.dark-mode .luisxxx p {
  filter: invert(0%);
} */
i {
  background-color: transparent;
}

#demo1,
#demo2,
#demo3,
#demo4 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  animation: show 500ms linear;
  background-color: transparent;
}
.demo {
  font-family: "Poiret One", cursive;
  width: 80vw;
  background-color: #dddddd;
  color: #000000;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 4px;
}
.footer {
  margin-top: 50px;
  margin-bottom: 20px;
}
.credit {
  color: #696969;
  font-weight: 100;
}
@media (min-width: 800px) {
  .content {
    font-size: 200%;
  }
  .credit {
    font-size: 1rem;
  }
  .demo {
    max-width: 60%;
  }
}
.dm {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.darkmodebutton {
  border: none;
  background: #1f1f1f;
  width: 40px;
  height: 40px;
  border-radius: 45px;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  user-select: none;
  /* box-shadow: 0 0 5px 2px #4b4b4b; */
}
.darkmodelink:hover {
  text-shadow: 0 0 3px #a3a3a3;
}

.dark-mode {
  filter: invert(100%);
}
i {
  font-size: 20px;
}

input.ipt {
  background-color: #dddddd;
  color: #000000;
  border: none;
  border-radius: 36px;
  min-height: 2.5rem;
  min-width: 180px;
  padding: 12px 12px;
}
input.ipt::placeholder {
  color: #161616;
  font-size: 16px;
}
dialog {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #dddddd;
  background-color: #252525a3;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding: 8px;
}
dialog form {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
dialog p {
  background-color: transparent;
  font-size: 20px;
  text-align: center;
}
dialog button {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background-color: transparent;
  font-size: 20px;
}
dialog button i {
  font-size: 24px;
}
dialog[open] {
  animation: show 0.5s ease;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.513);
}

@keyframes show{
  from {
      opacity: 0;
      scale: 98%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px 2px #292929;
  }
  50% {
    box-shadow: 0 0 5px 2px #696969;
  }
  100% {
    box-shadow: 0 0 5px 2px #292929;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}
